/* h1{
    color: black;
    background-color: yellow;
}
h2{
    columns: white;
    background-color: orange;
}
button{
    color: white;
    background-color:blue ;
}
body{
    background-color: darkgray;
} */